<div class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
      <p class="navbar-text pull-right" style="color:black;">Plataforma creada por Nuria Reyes
           &nbsp; &nbsp; &nbsp;<a href="mailto:nuriatonantzin@gmail.com" target="_top">Contacto</a>
      </p>
    </div>
</div>
